:root {
  --bg-color: #000;
  --sec-bg-color: #131315;
  --sec-bg-color-hover: #17171a;
  --text-color: #ffff;
  --sec-text-color: #8a8a93;
  --accent-color: #ff5e1a;
  --accent-color-hover: #f8753d;
}
body{
  background-color: var(--bg-color);
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
